.note {
    margin-bottom: 8px;
}
.content-selector {
    margin: 12px 40px 20px 40px;
    width: 35%;
    height: 80px;
}

.card-title {
    padding-bottom: 0;
    text-align: left;
}

<<<<<<< HEAD
.note-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.content-details {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    margin-top: 8px;
}

.content-image {
    width: 25%;
    height: auto;
}
=======
.notediv {
  float: left;
}

.infodiv {
  float:left;
}

.favoritediv {
  float:right;
}

.messagediv {
  margin-top: 25px;
}

.note-img {
    margin: auto;
    width: 30%;
    align: left;
    height: auto;
    display: inline-block;
}
>>>>>>> 8ca9f66a3ae42d5d112f2686310fecaeacdde2e0
